backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
colorzero==1.1
decorator==4.4.2
getrpimodel==0.1.19
gpiozero==1.5.1
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
mh-z19==0.6.3
numpy==1.19.5
paho-mqtt==1.5.1
parso==0.8.1
pexpect==4.8.0
picamera==1.13
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.10
psutil==5.8.0
ptyprocess==0.7.0
Pygments==2.7.4
pyserial==3.5
requests==2.25.1
RPi.GPIO==0.7.0
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
